<.header_bar>
  <:logo>
    <a href="#" class="-m-1.5 p-1.5">
      <span class="sr-only">Your Company</span>
      <img
        class="h-8 w-auto"
        src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
        alt=""
      />
    </a>
  </:logo>
  <:links :let={context}>
    <.nav_links context={context} >
      <.nav_link name="steve" context={context} >
         <:dropdown>
            <.nav_link name="bob" context={context} />   
         </:dropdown>
      </.nav_link>
      <.nav_link name="bob" context={context} />
      <.nav_link name="greg" context={context} />
    </.nav_links>
  </:links>
</.header_bar>
<main class="px-4 py-20 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-2xl">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
