<.header>
  Synthetic <%= @synthetic.id %>
  <:subtitle>This is a synthetic record from your database.</:subtitle>
  <:actions>
    <.link patch={~p"/synthetics/#{@synthetic}/show/edit"} phx-click={JS.push_focus()}>
      <.button>Edit synthetic</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Name"><%= @synthetic.name %></:item>
  <:item title="Status"><%= @synthetic.status %></:item>
  <:item title="Description"><%= @synthetic.description %></:item>
  <:item title="User"><%=
      case @synthetic.user do
        %{name: name} -> name
        _ -> "Unknown"
      end
    %></:item>
  <:item title="Features">
    <p :for={feature <- @synthetic.features || []}><%= feature.category %> - <%= feature.name %></p>
  </:item>
  <:item title="Hidden Prompt"><%= @synthetic.hidden_prompt %></:item>
  <:item title="Messages">
    <div class="border p-2 m-2" :for={m <- @synthetic.messages || []}>
    <p><span>Role:</span> <span><%= m.role %></span></p>
    <p><span>Status:</span> <span><%= m.status %></span></p>
    <p><span>Note:</span> <span><%= m.note %></span></p>
    <p><span>Content:</span> <span><%= m.content %></span></p>
    <p><span>Features:</span> <span>
      <p :for={feature <- m.features || []}><%= feature["category"] %> - <%= feature["name"] %></p>
    </span></p>
    </div>
  </:item>
</.list>

<.back navigate={~p"/synthetics"}>Back to synthetics</.back>

<.modal
  :if={@live_action == :edit}
  id="synthetic-modal"
  show
  on_cancel={JS.patch(~p"/synthetics/#{@synthetic}")}
>
  <.live_component
    module={SyntheticManagerWeb.SyntheticLive.FormComponent}
    id={@synthetic.id}
    title={@page_title}
    action={@live_action}
    synthetic={@synthetic}
    patch={~p"/synthetics/#{@synthetic}"}
  />
</.modal>
