<.flash_group flash={@flash} />
<div class="container mx-auto p-8">
  <h1 class="text-4xl font-bold text-center mb-8">Synthetic Dataset Builder</h1>
  <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-4">
    <div>
      <.link navigate={~p"/synthetics/interactive"} class="block p-6 bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100">
      <h2 class="text-2xl font-bold mb-2">Interact Mode</h2>
      <p class="text-gray-700">Directly interact with the system to define synthetic conversations.</p>
    </.link>
  </div>
  <div>
    <.link navigate={~p"/synthetics/generate"} class="block p-6 bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100">
    <h2 class="text-2xl font-bold mb-2">Generate Mode</h2>
    <p class="text-gray-700">Have the system generate synthetic conversations based on a group and example details.</p>
  </.link>
</div>
<div>
  <.link navigate={~p"/synthetics"} class="block p-6 bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100">
  <h2 class="text-2xl font-bold mb-2">Browse/Edit Mode</h2>
  <p class="text-gray-700">Browse and edit the existing directory of synthetic conversations.</p>
</.link>
</div>
<div>
  <.link navigate={~p"/synthetics/upload"} class="block p-6 bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100">
  <h2 class="text-2xl font-bold mb-2">Upload Mode</h2>
  <p class="text-gray-700">Upload bulk synthetic data for validation and addition to the dataset.</p>
</.link>
</div>
</div>
</div>
